<h4><%= link_to(@video.title, video_path(@video))%></h4>
<video src="<%= @video.url %>" controls></video>
<p>
	<%= @video.description %>
</p>

<form data-id="<%= @video.id %>" class="js-video-comment-form" action="/videos/<%= @video.id %>/comments" method="POST">
	<label for="video-comment-author">Author</label>
	<br>
	<input type="text" id="video-comment-author" name="comment[author]">
	<br>s
	<label for="video-comment-content">Enter your comment</label>
	<br>
	<textarea rows="10" cols="40" type="text" id="video-comment-content" name="comment[content]"></textarea>
	<br>
	<button type="submit">Submit Comment</button>
</form>

<ul class="comment-list">
	<% @comments.each do | comment |  %>
		<li>
			<strong><%= comment.author %> says: </strong>
			<br>
			<p>
			  <%= comment.content %>
			</p>
		</li>
	<% end %>
</ul>